
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html{
padding: 0;
margin: 0;



}

nav{
  
   display: flex;                          background: white;
   font-family: "Roboto", sans-serif;
   height: 50px;
   color: #33E9FF;
   text-align: center;
   align-items: center;
   justify-content: center;

border-radius: 10px;

box-sizing: border-box;
box-shadow: 0px 2px 5px black;
}
body{
 background: green;
 margin: 0;
 
}

div
{
   letter-spacing: 5px;
 display: grid; 
 grid-template-row: 1fr;
 grid-gap: 10px;
 justify-items: center;
 margin-top: 90px;
 outline: none;
 
}

 .bgcolor
{
       letter-spacing: 4px;
      margin: 0;
     display: grid;
    background: black;       
    color: white;
    height: 60px;
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    justify-items: center;
    width: 100%;
    padding-top: 3px;
    
}

.btn
{
    font-size: 2rem;                          
  background: transparent;         
 border: black solid 3px;
  border-radius: 20px;
}

button:hover{
         background: black;
         color: white;
         transition: 1500ms;
         outline: none;
}

button:visited{
       outline: none;
}